* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: arial;
}

.calculator {
    background: #333;
    padding: 20px;
    border-radius:10px;
}

#result {
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
}

button {
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}